{% extends "base.html" %}

{% block start %}
    <section class="hero-home dark-overlay mb-5"><img class="bg-image" src="https://scontent.fcgp7-1.fna.fbcdn.net/v/t1.18169-9/954879_461026920647419_658995811_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeEkqikp7I2b_wqe5OmofjBfExEIgOR8WcsTEQiA5HxZywbFtvLJGv8TN7xw_2EI-vrEsljGe0ixw12KrNpPezXZ&_nc_ohc=2lChpJUSuR8AX9hsCp7&_nc_ht=scontent.fcgp7-1.fna&oh=00_AT8ShWqgptuRpfm8Jrfos3FWt63c1G3X9PZ-dDKLDQE-Ww&oe=6318E6D9" alt="">
      <div class="container py-7">
        <div class="overlay-content text-center text-white">
          <h1 class="display-3 text-serif font-weight-bold text-shadow mb-0">National Institutes of Technology (NIT)</h1>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-10 mx-auto">      
            <p class="py-3 mb-5 text-muted text-center font-weight-light"><a href="https://www.facebook.com/mdmasud.ulalbi" target="_blank"><img class="avatar mr-2" src="https://scontent.fcgp7-1.fna.fbcdn.net/v/t39.30808-6/290991500_395692852531800_8816059197683291334_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGSPYCWH8A3l_j-Th9x_dae7Qnbc6e6UAPtCdtzp7pQA2MpkEaFy3xzM6gbW1XSMrUje3AaS3DEI8I8o7STkYX7&_nc_ohc=tWKtH61wBWwAX_g40wu&_nc_ht=scontent.fcgp7-1.fna&oh=00_AT9yxAUJH4XkuRuB0FBg4P1XyUCE4w_jsSi_lTSjAPcGVg&oe=62F6C446" alt=""></a> Written by <a class="font-weight-bold" href="#">masud_rana</a><span class="mx-1">|</span> June 22, 2022</p>
            <p class="lead mb-5"><strong>The first Private Polytechnic Institute of Chittagong,</strong> established in 1999 by some honorable persons who dedicate their life's to spread the lights of education. To develop a modern country there is no alternate of Technical Education. NIT takes the necessary steps to spread the knowledge of technical education in Bangladesh. As a Pioneer of Private Poly-Technic Institute, NIT always takes the step to stay ahead of the bunch. Here at NIT we apply the modern teaching styles, for effective studies.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-10 mx-auto"><img class="img-fluid mb-5" src="https://scontent.fcgp7-1.fna.fbcdn.net/v/t39.30808-6/246793181_114758920983922_1219906975641830479_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=19026a&_nc_eui2=AeE4kOa6GbG0UAM4VtsLxBGX0yhujas0Ry7TKG6NqzRHLr46PneQosmjMtsdvLrsXQISvJ0Tuf1rZj6EnwviK0hT&_nc_ohc=K-1-pxMuzt8AX9Xe9bk&_nc_ht=scontent.fcgp7-1.fna&oh=00_AT8jPsRcqnt5R3sNRS_dZqsIe4xNCERUpxoUrvEtBH4VAg&oe=62F65654" alt=""></div>
        </div>
        <div class="row">
          <div class="col-xl-8 col-lg-10 mx-auto">                               
            <div class="text-content">
              <p><strong>Specialties:</strong>
                <ul>
                  <li>Easiest means of transport</li>
                  <li>We have well qualified dynamic and professional teachers panel</li>
                  <li>24 hours Generator support</li>
                  <li>Well furnished and rich library support</li>
                  <li>Electrical, Electronics, Computer, Physics and Chemistry Lab with modern equipment facilities</li>
                  <li>Internet Facilities</li>
                  <li>Special care to the weakest students</li>
                  <li>Scholarship facilities</li>
                  <li>Study tours, sports and cultural programs</li>
                  <li>Installment payment system for tuition fee</li>

                </ul>
              </p>
              <figure class="figure mb-3"><img class="figure-img img-fluid w-100" src="https://scontent.fcgp7-1.fna.fbcdn.net/v/t39.30808-6/246793181_114758920983922_1219906975641830479_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=19026a&_nc_eui2=AeE4kOa6GbG0UAM4VtsLxBGX0yhujas0Ry7TKG6NqzRHLr46PneQosmjMtsdvLrsXQISvJ0Tuf1rZj6EnwviK0hT&_nc_ohc=K-1-pxMuzt8AX9Xe9bk&_nc_ht=scontent.fcgp7-1.fna&oh=00_AT8jPsRcqnt5R3sNRS_dZqsIe4xNCERUpxoUrvEtBH4VAg&oe=62F65654" alt="Example blog post alt.">
                <figcaption class="figure-caption text-center">National Institutes of Technology (NIT)</figcaption>
              </figure>
              <h1>4 years Diploma Engineering Courses under BTEB:</h1>
              <h3>Diploma in Computer</h3>
              <h5>Requirements for admission:</h5>
              <ul>
                <li>Academic Transcript (Original & Photocopy 1 Set).</li>
                <li>38 X 38 M.M. Photo (2 Copy).</li>
                <li>Admission form.</li>
                <li>Admission fee.</li>
                <li>Registration fee.</li>
                <li>ID card.</li>
              </ul>

              <h5>Students Uniform/Dress (Male):</h5>
              <ul>
                <li>Shirt, Color: Light sky (As per college instruction).</li>
                <li>Pant, Color: Black.</li>
                <li>Tie, Color: Meron (With NIT monogram).</li>
                <li>Shoe, Color: Black.</li>
              </ul>

              <h5>Students Uniform/Dress (Female):</h5>
              <ul>
                <li>Apron, Color: White.</li>
              </ul>
              
              <blockquote class="blockquote blockquote-primary"><Strong>Diploma in Computer Engineering </Strong>encompasses studies on design, analysis, implementation and application of computer technology. Computing plays a vital role of all fields including science and medicine, music and art, business, law and human communication; hence the study of Computer Engineering can be interdisciplinary in nature.

                A Computer Engineer is responsible for constructing and managing an organization’s computer system and providing technical support to the organization. A computer engineer typically works in an office or laboratory environment as part of a team and enjoys a traditional work schedule. A computer engineer may be a software engineer, is responsible for developing, testing and evaluating the software that enables our computer for work. They may help in the development of new computer games and business applications or even in the design of entirely new operating systems. Whether a student’s goal is to become a computing professional, DTI is committed to helping them gain the background they needed to be a world class engineer.</blockquote>
                <h3>Diploma in Architecture</h3>
                <h5>Requirements for admission:</h5>
                <ul>
                  <li>Academic Transcript (Original & Photocopy 1 Set).</li>
                  <li>38 X 38 M.M. Photo (2 Copy).</li>
                  <li>Admission form.</li>
                  <li>Admission fee.</li>
                  <li>Registration fee.</li>
                  <li>ID card.</li>
                </ul>
  
                <h5>Students Uniform/Dress (Male):</h5>
                <ul>
                  <li>Shirt, Color: Light sky (As per college instruction).</li>
                  <li>Pant, Color: Black.</li>
                  <li>Tie, Color: Meron (With NIT monogram).</li>
                  <li>Shoe, Color: Black.</li>
                </ul>
  
                <h5>Students Uniform/Dress (Female):</h5>
                <ul>
                  <li>Apron, Color: White.</li>
                </ul>
                
                <blockquote class="blockquote blockquote-primary"><Strong>Diploma in Architecture, </Strong>also known as building engineering or architecture engineering, is an engineering discipline that deals with the technological aspects and multi-disciplinary approach to planning, design, construction, and operation of buildings, such as analysis and integrated design of environmental systems (energy conservation, HVAC, plumbing, lighting, fire protection, acoustics, vertical and horizontal transportation), structural systems, behavior and properties of building components and materials, and construction management.</blockquote>
                <h3>Diploma in Mechanical</h3>
                <h5>Requirements for admission:</h5>
                <ul>
                  <li>Academic Transcript (Original & Photocopy 1 Set).</li>
                  <li>38 X 38 M.M. Photo (2 Copy).</li>
                  <li>Admission form.</li>
                  <li>Admission fee.</li>
                  <li>Registration fee.</li>
                  <li>ID card.</li>
                </ul>
  
                <h5>Students Uniform/Dress (Male):</h5>
                <ul>
                  <li>Shirt, Color: Light sky (As per college instruction).</li>
                  <li>Pant, Color: Black.</li>
                  <li>Tie, Color: Meron (With NIT monogram).</li>
                  <li>Shoe, Color: Black.</li>
                </ul>
  
                <h5>Students Uniform/Dress (Female):</h5>
                <ul>
                  <li>Apron, Color: White.</li>
                </ul>
                
                <blockquote class="blockquote blockquote-primary"><Strong>Diploma in Mechanical Engineering </Strong>engineering is an engineering sector that integrates engineering, mathematics, physics, and principles with materials science to design, analyze, manufacture and maintain mechanical organograms and systems. Mechanical engineering is one of the largest engineering disciplines. Mechanical engineers design, develop, build, and test. They deal with anything that moves, from components to machines to the human body. Mechanical engineers design power-producing machines, such as electric generators, internal combustion engines, and steam and gas turbines, as well as power-using machines, such as refrigeration and air-conditioning systems. Mechanical engineers design other machines inside buildings, such as elevators and escalators.</blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}

